/* Center the wrapper div on the screen */
#gallery-wrapper {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 75vh;            /* Take full viewport height */
}

/* General styling for the gallery */
#gallery1 {
    width: 1000px;
    height: 750px;
    position: relative;
    overflow: hidden;
  }
  
  /* Styling for gallery items */
  #gallery1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Set initial active image to fully visible */
  #gallery1 img.active {
    opacity: 1;
  }
  